*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{
  background:linear-gradient(#f2f2f2,#cfcfcf);
  color:#111;
  transition:.3s;
}

body.dark{
  background:linear-gradient(#0d0d0d,#000);
  color:#fff;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 25px;
  background:rgba(0,0,0,.85);
  position:sticky;
  top:0;
}

.logo{
  font-family:'Orbitron',sans-serif;
  font-size:20px;
  color:#fff;
  text-shadow:0 0 15px #3b82f6;
}
.logo span{color:#3b82f6}

nav a{
  color:#ccc;
  margin:0 10px;
  text-decoration:none;
}
nav a:hover{color:#fff}

#themeToggle{
  background:none;
  border:none;
  color:#fff;
  font-size:18px;
  cursor:pointer;
}

/* HERO */
.hero{
  margin:20px;
  padding:30px;
  border-radius:20px;
  background:rgba(255,255,255,.65);
  display:flex;
  justify-content:space-between;
  align-items:center;
}
body.dark .hero{background:rgba(0,0,0,.7)}

.hero h1{font-size:26px}
.hero p{opacity:.8}

/* STATS */
.stats-section{
  margin:50px 20px 30px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
}

.stat-card{
  background:rgba(255,255,255,.75);
  padding:30px;
  border-radius:18px;
  font-size:32px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,.15);
  transition:.3s;
}

body.dark .stat-card{background:rgba(0,0,0,.75)}

.stat-card:hover{
  transform:translateY(-12px) scale(1.05);
  box-shadow:0 0 35px #3b82f6;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  opacity:.7;
  font-size:13px;
}